# Git Attributes

# Line endings
text=auto diff

# File type specific line endings

*.txt		text whitespace=trailing-space,space-before-tab diff
*.rst		text whitespace=trailing-space,space-before-tab,tab-in-indent diff
*.html 		text diff=html

# File type diffs

*.py		text diff=python whitespace=trailing-space,space-before-tab,tab-in-indent

###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
docs/_images/* binary
*.png binary
*.doctree   binary
*.pickle    binary
*.ttf binary
*.svg binary
*.pdf binary
*.jp[e]?g binary
#*.gif   binary

*.{cmd,[cC][mM][dD]} text eol=crlf diff
*.{bat,[bB][aA][tT]} text eol=crlf diff

